<!-- <div class="ads map">
  <strong>前端基础</strong>
  <ul>
    <li><a href="javascript:;">HTML</a></li>
    <li><a href="javascript:;">CSS</a></li>
    <li><a href="javascript:;">JavaScript</a></li>
  </ul>
  <strong>框架</strong>
  <ul>
    <li><a href="javascript:;">jQuery</a></li>
    <li><a href="javascript:;">Vue.js</a></li>
    <li><a href="javascript:;">React.js</a></li>
    <li><a href="javascript:;">Angular</a></li>
  </ul>
  <strong>后端基础</strong>
  <ul>
    <li><a href="javascript:;">Node.js</a></li>
    <li><a href="javascript:;">Npm</a></li>
    <li><a href="javascript:;">Webpack</a></li>
  </ul>
  <strong>后端生态</strong>
  <ul>
    <li><a href="javascript:;">Express</a></li>
    <li><a href="javascript:;">Koa</a></li>
    <li><a href="javascript:;">Nest.js</a></li>
  </ul>
  <strong>数据库</strong>
  <ul>
    <li><a href="javascript:;">MySQL</a></li>
    <li><a href="javascript:;">PostgreSQL</a></li>
    <li><a href="javascript:;">MongoDB</a></li>
  </ul>
</div> -->
