<div class="middle-category">
  <div class="divider">
    <div class="lmr">
      <div class="footer__section--wrapper">
        <div class="footer__section">
          <div class="footer__section--title">{{ .Site.Params.footerleft }}</div>
          <ul>
            {{ range .Site.Params.footerLinkLeft }}
              <a
                href="{{ .link }}"
                class="footer__section--link"
                target="_blank"
                rel="noreferrer"
              >
                {{ .text }}
              </a>
            {{ end }}
          </ul>
        </div>

        <div class="footer__section">
          <div class="footer__section--title">{{ .Site.Params.footermiddle }}</div>
          <ul>
            {{ range .Site.Params.footerLinkMiddle }}
              <a
                href="{{ .link }}"
                class="footer__section--link"
                target="_blank"
                rel="noreferrer"
              >
                {{ .text }}
              </a>
            {{ end }}
          </ul>
        </div>

        <div class="footer__section">
          <div class="footer__section--title">{{ .Site.Params.footerright }}</div>
          <ul>
            {{ range .Site.Params.footerLinkright }}
              <a
                href="{{ .link }}"
                class="footer__section--link"
                target="_blank"
                rel="noreferrer"
              >
                {{ .text }}
              </a>
            {{ end }}
          </ul>
        </div>
        {{ if .Site.Params.wechat }}
        <div class="footer__section">
          <div class="footer__section--title">{{ .Site.Params.footerwechat }}</div>
          <img
            width="128"
            height="128"
            src="{{ .Site.Params.wechat }}"
          />
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
