.mid {
  @include themify($themes) {
    background-color: themed("back-background-color");
  }
}
.main {
  width: 100%;

  @include flexbox();
  @include justify-content(center);
  @include themify($themes) {
    background-color: themed("back-background-color");
  }
}
.icon {
  width: 1.6em;
  height: 1.6em;
  vertical-align: -0.5em;
  fill: currentColor;
  overflow: hidden;
}
.center {
  text-align: center;
}
.decline {
  background-color: #ffe7eb;
}
.decline-value {
  color: #ea3943;
}
.increase {
  background-color: #ebffe7;
}
.increase-value {
  color: #16c784;
}
